# Data Wrangling 
* Handle missing values
* Data Formating
* Data Normalization
   * Centeralizing
   * Scalling
* Data Binning
* Making Dummies of catergorical  data 
   * catergorical ---> Numerical

In [1]:
# libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ship = sns.load_dataset('titanic')

In [4]:
ship.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
ship.shape

(891, 15)

In [13]:
# use .dropna method

ship.dropna(subset=['deck'], axis=0, inplace=True)
ship.dropna(subset=['age'], axis=0, inplace=True)
ship.dropna(subset=['embark_town'], axis=0, inplace=True)
ship.dropna(subset=['embarked'], axis=0, inplace=True)

In [14]:
ship.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [15]:
ship.shape

(182, 15)